{include file='public:head'/}
	<div class="inBanner">
		<img src="/static/index/images/in-banner.png" alt="">
		<!-- 搜索 -->
		<div class="tit">
			<img src="/static/index/images/in-title04.png" alt="">
		</div>
		
	</div>
	<div class="inContent">
		<div class="main">
			<div class="crumbs">
				<h5>您当前所在的位置：</h5>
				<a href="{:url('index/index')}">主页</a> > <a href="{:url('index/comintroduce')}">{$listname}</a>
			</div>
 			<div class="inAbout">
<div class="box">
	<div class="pic">
		<img alt="" src="/static/index/images/in-about01.png" /></div>
	<div class="text">
		<h5>
			我们是国内创新企业活动策划公司之一！</h5>
		<p>
			星团建隶属于上海勇盛体育管理有限公司<br />
			在活动策划、企业会务会展和企业运动会等方面，我们拥有8年的从业经验，在企业活动策划方面，我们坚持选择不同的场地环境，多样的活动形式等众多设计方案来激励员工的斗志，得到了企业负责人的一致好评；在企业会务会展方面，我们一直以客户为中心，为客户尽可能的创造最好的会务会展环境而努力，并且,上海勇盛体育管理有限公司，该公司拥有的酒店和场地资源，供您选择会议地点；在企业运动会方面，我们拥有专业赛事策划专员，同时，我们与上海体育学院建立了长期合作关系。</p>
		<p>
			在活动效果反馈方面，上海星团建拓展走在了活动策划公司的前沿，我们为客户提供最简洁，全面的活动策划方案，减少不必要的活动费用，同时，确保为您及公司成员提供一个轻松、愉快的体验，无论是一个小小的活动团建或者是10人的会议，我们都会像1000人的企业家庭日一样用心操作，给您一个满意的答卷！星团建8年，用心前行。</p>
	</div>
</div>
<div class="box">
	<div class="text">
		<h5>
			<span>OUR</span> CUSTOMERS</h5>
		<p>
			公司成立8年来，我们先后服务过上千的企业：中国银行总行、霍尼韦尔航空电子、诺霸精密机械、辉凌制药、华西建工、苏商资本、中国投资咨询、中国科学院、上海交通大学、上海科技大学、上海体育学院、航勰、汇众汽车、海通期货、恒泰证券、环宇广告、蒂森克虏伯电梯、福迈迪汽车、罗氏制药、费列罗、雅培制药、多美滋奶粉等等公司的认可，我们一直会坚持做出我们星团建的品牌。</p>
	</div>
	<div class="pic">
		<img alt="" src="/static/index/images/in-about02.png" /></div>
</div>
<br />

 			</div>
		</div>
	</div>
 {include file='public:partner'/}
	<div class="slogan">
		<div class="main">
			<ul>
				<li>
					<img src="/static/index/images/bz01.png" alt="拓展保障">
					<div>
						<p>质量保证</p>
						<span>以专业的团队来保证品质！</span>
					</div>
				</li>
				<li>
					<img src="/static/index/images/bz02.png" alt="拓展安全">
					<div>
						<p>安全第一</p>
						<span>以安全因素为前提的活动！</span>
					</div>
				</li>
				<li>
					<img src="/static/index/images/bz03.png" alt="拓展价格">
					<div>
						<p>价格优惠</p>
						<span>将不定时的推出优惠方案！</span>
					</div>
				</li>
				<li>
					<img src="/static/index/images/bz04.png" alt="拓展服务">
					<div>
						<p>24小时服务</p>
						<span>24小时有人为您提供咨询服务！</span>
					</div>
				</li>
			</ul>
		</div>
	</div> 
	 {include file='public:foot'/}