{include file='public:head'/}
<div class="inBanner">
		<img src="/static/index/images/b-contact.png" alt="">
		<!-- 搜索 -->
		<div class="tit">
			<img src="/static/index/images/in-title05.png" alt="">
		</div>
	
		
	</div>
	<div class="inContent">
		<div class="main">
			<div class="crumbs">
				<h5>您当前所在的位置：</h5>
				<a href="{:url('index/index')}">主页</a> > <a href="{:url('index/contact')}">{$listname}</a>
			</div>
                                        <input type="hidden" id='gdlng' value="{:sysconf('lng')}">
                                        <input type="hidden" id='gdlat' value="{:sysconf('lat')}">
                                        <input type="hidden" id='mobile' value="{:sysconf('mobile')}">
 			<!-- 内容 -->
 			<div class="inContact">
 				<div class="inMap">
 					<div id="wrap" class="my-map">
 						<div id="mapContainer"></div>
 					</div>
 					<script src="/static/index/js/map.js"></script>
                                         <script src="http://webapi.amap.com/maps?v=1.3&key=8325164e247e15eea68b59e89200988b"></script>
 					<script>
 					!function(){
                                            var gdlng = document.getElementById("gdlng").value;
                                            var gdlat =  document.getElementById("gdlat").value;
                                            var mobile =  document.getElementById("mobile").value;
                                            var infoWindow, map, level = 16,
                                                center = {lng: gdlng, lat: gdlat},
 						features = [{type: "Marker", name: "寻奇者团建", desc: "电话"+mobile, color: "red", icon: "cir", offset: {x: -9, y: -31}, lnglat: {lng: gdlng, lat: gdlat}}];     
 						function loadFeatures(){
 							for(var feature, data, i = 0, len = features.length, j, jl, path; i < len; i++){
 								data = features[i];
 								switch(data.type){
 									case "Marker":
 										feature = new AMap.Marker({ map: map, position: new AMap.LngLat(data.lnglat.lng, data.lnglat.lat),
 											zIndex: 3, extData: data, offset: new AMap.Pixel(data.offset.x, data.offset.y), title: data.name,
 											content: '<div class="icon icon-' + data.icon + ' icon-'+ data.icon +'-' + data.color +'"></div>' });
 										break;
 									case "Polyline":
 										for(j = 0, jl = data.lnglat.length, path = []; j < jl; j++){
 											path.push(new AMap.LngLat(data.lnglat[j].lng, data.lnglat[j].lat));
 										}
 										feature = new AMap.Polyline({ map: map, path: path, extData: data, zIndex: 2,
 											strokeWeight: data.strokeWeight, strokeColor: data.strokeColor, strokeOpacity: data.strokeOpacity });
 										break;
 									case "Polygon":
 										for(j = 0, jl = data.lnglat.length, path = []; j < jl; j++){
 											path.push(new AMap.LngLat(data.lnglat[j].lng, data.lnglat[j].lat));
 										}
 										feature = new AMap.Polygon({ map: map, path: path, extData: data, zIndex: 1,
 											strokeWeight: data.strokeWeight, strokeColor: data.strokeColor, strokeOpacity: data.strokeOpacity,
 											fillColor: data.fillColor, fillOpacity: data.fillOpacity });
 										break;
 									default: feature = null;
 								}
 								if(feature){ AMap.event.addListener(feature, "click", mapFeatureClick); }
 							}
 						}

 						function mapFeatureClick(e){
 							if(!infoWindow){ infoWindow = new AMap.InfoWindow({autoMove: true}); }
 							var extData = e.target.getExtData();
 							infoWindow.setContent("<h5>" + extData.name + "</h5><div>" + extData.desc + "</div>");
 							infoWindow.open(map, e.lnglat);
 						}

 						map = new AMap.Map("mapContainer", {center: new AMap.LngLat(center.lng, center.lat), level: level});
 						
 						loadFeatures();	}();
 					</script>
 				</div>
                
              <h2 class="mg-b20 attendh2" style="padding: 0px; margin: 80px 0px 20px; border: none; color: rgb(27, 172, 248); font-weight: 500; font-stretch: normal; font-size: 32px; line-height: 30px; font-family: 微软雅黑;">
	星团建，新开始！</h2>
<p class="attendp" style="padding: 0px; margin: 0px 0px 70px; border: none; color: rgb(102, 102, 102); font-stretch: normal; font-size: 15px; line-height: 30px; font-family: 微软雅黑;">
	星团建是一支年轻、时尚、头脑敏锐、朝气蓬勃的团队。他们充满活力、彰显个性，又愿意为远大的理想而付出脚踏实地的努力！ 如果您对自己的创造力、学习力充满信心，又相信&ldquo;态度决定一切&rdquo;的真理，愿付出辛勤的汗水去实现个人在专业领域内的职业化，这里将是你职业加速的优质跑道、梦想起飞的良好平台。为了你和星团建共同的美好明天，让我们携手！<br />
	有意加盟的有识之士，请将中英文简历、学历证书及联络方式发送至如下地址： Allen@021stars.com 请以申请的职位名称为Email主题，例:客户经理 （上海），并将简历直接附于Email正文中。</p>
  
 			</div>

            
		</div>
	</div>
<script src="/static/index/js/jquery.min.js"></script>
<script src="/static/index/js/velocity.min.js"></script>
<!-- Include bellows.js -->
<script src="/static/index/js/bellows.min.js"></script>
<!-- Construct Bellows -->
<script>$('.bellows').bellows({
	  singleItemOpen: true,
	  easing: 'ease-in-out',
	   duration: 600
})</script>
        
{include file='public:partner'/}
	<div class="slogan">
		<div class="main">
			<ul>
				<li>
					<img src="/static/index/images/bz01.png" alt="拓展保障">
					<div>
						<p>质量保证</p>
						<span>以专业的团队来保证品质！</span>
					</div>
				</li>
				<li>
					<img src="/static/index/images/bz02.png" alt="拓展安全">
					<div>
						<p>安全第一</p>
						<span>以安全因素为前提的活动！</span>
					</div>
				</li>
				<li>
					<img src="/static/index/images/bz03.png" alt="拓展价格">
					<div>
						<p>价格优惠</p>
						<span>将不定时的推出优惠方案！</span>
					</div>
				</li>
				<li>
					<img src="/static/index/images/bz04.png" alt="拓展服务">
					<div>
						<p>24小时服务</p>
						<span>24小时有人为您提供咨询服务！</span>
					</div>
				</li>
			</ul>
		</div>
	</div> 
	 {include file='public:foot'/}