<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>智能办公科技企业网站HTML模板</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>

<body>
<!--top-->
<div class="ml-nav no_padding">
    <div class="center-wrap clearfix"> <a class="ml-logo" href="/index.html"><img src="images/log.png"></a>
        <ul class="ml-link">
            <!-- 导航 -->

            <li class="current first"><a href="index.html">首页</a>
                <div></div>
            </li>
            <li><a href="xiangmu.html">项目介绍</a>
                <div ></div>
            </li>
            <li><a href="news.html"> 最新动态</a>
                <div ></div>
            </li>
            <li><a href="about.html">关于我们</a>
                <div ></div>
            </li>
            <li><a href="join.html">加入我们</a>
                <div ></div>
            </li>
            <!-- 导航 -->
        </ul>
        <div class="clear"></div>
    </div>
</div>

<!--js-->
<div class="w100 clearfix overflow pt30">
    <div class="flexslider" >
        <ul class="slides">
            <li style="background: url(images/index2_r1_c1.jpg) 50% 0 no-repeat; z-index:1"></li>
            <li style="background:url(images/index2_r1_c1.jpg) 50% 0 no-repeat; z-index:1"></li>
            <li style="background:url(images/index2_r1_c1.jpg) 50% 0 no-repeat; z-index:1"></li>
        </ul>
    </div>
    <!-- 代码end -->
    <script src="js/jquery.flexslider-min.js"></script>
    <script>
        $(function(){
            $('.flexslider').flexslider({
                directionNav: true,
                pauseOnAction: false
            });
        });
    </script>
</div>

<!--简介和项目-->
<div class="index_bg overflow clearfix">
    <div class="wrap overflow about pt30">
        <figure><img src="images/index2_r3_c2.jpg"></figure>
        <div class="font_p">
            <h5>打印<br>
                <em></em></h5>
            <p>京硕共享京硕共享是河南京硕信息科技有限公司自主研发的集企业、校园与
                社区服务于一体的自动综合服务系统，基于全产业链整合、云端技术与L
                BS服务，组建规模化自助网络，实现“免费硬件、按张付费、内容输出”等的综
                合性LOMO(local本地化，mobile移动化)内容系统服务，打造互联网领域领
                军品牌，解决中国人“印”的问题</p>
        </div>
    </div>
    <!--项目-->
    <div class="wrap overflow  pt50">
        <h5 class="f36 blod l-35">智能硬件+智能办公服务</h5>
        <p class="f18 huise l-26 pt5">打造人与企业 企业与企业的未来商业服务体系</p>
    </div>
    <div class="wrap overflow  pt50">
        <div class="xmu">
            <dl>
                <a href="#">
                    <dt> </dt>
                    <dd>
                        <h5>共享机</h5>
                        <p>printer sharing</p>
                    </dd>
                </a>
            </dl>
            <dl>
                <a href="#">
                    <dt> </dt>
                    <dd>
                        <h5>共享机软件</h5>
                        <p>printer sharing</p>
                    </dd>
                </a>
            </dl>
            <dl>
                <a href="#">
                    <dt> </dt>
                    <dd>
                        <h5>打印</h5>
                        <p>printer sharing</p>
                    </dd>
                </a>
            </dl>
            <dl>
                <a href="#">
                    <dt> </dt>
                    <dd>
                        <h5>京硕渠道</h5>
                        <p>printer sharing</p>
                    </dd>
                </a>
            </dl>
        </div>
    </div>
</div>

<!--新闻-->
<div class="news_show_bg">
    <div class="wrap overflow  pt50">
        <h5 class="f36 blod l-35">市场行情</h5>
        <p class="f18 huise l-26 pt5">一个万亿级的市场，每年以20%速度增长</p>
    </div>
    <div class="news_show1">
        <dl>
            <a href="#">
                <dt> <img src="images/index2_r5_c3.jpg"> </dt>
                <dd>
                    <h5>亿级的市场，每年以20%速度亿级的市场，每年以20%速度</h5>
                    <p>亿级的市场，每年以20%速度亿级的市场，每年以20%速度亿级的市场，每年以20%速度</p>
                </dd>
            </a>
        </dl>
        <dl>
            <a href="#">
                <dt> <img src="images/index2_r5_c3.jpg"> </dt>
                <dd>
                    <h5>亿级的市场，每年以20%速度亿级的市场，每年以20%速度</h5>
                    <p>亿级的市场，每年以20%速度亿级的市场，每年以20%速度亿级的市场，每年以20%速度</p>
                </dd>
            </a>
        </dl>
        <dl>
            <a href="#">
                <dt> <img src="images/index2_r5_c3.jpg"> </dt>
                <dd>
                    <h5>亿级的市场，每年以20%速度亿级的市场，每年以20%速度</h5>
                    <p>亿级的市场，每年以20%速度亿级的市场，每年以20%速度亿级的市场，每年以20%速度</p>
                </dd>
            </a>
        </dl>
        <dl>
            <a href="#">
                <dt> <img src="images/index2_r5_c3.jpg"> </dt>
                <dd>
                    <h5>亿级的市场，每年以20%速度亿级的市场，每年以20%速度</h5>
                    <p>亿级的市场，每年以20%速度亿级的市场，每年以20%速度亿级的市场，每年以20%速度</p>
                </dd>
            </a>
        </dl>
    </div>
</div>

<!--版权-->
<div class=" wrap pt50 clearfix">
    <div class="yuyue">
        <h5>联系我们</h5>
        <ul class="mt20">
            <li>
                <input type="text" class="ss1_in" value="请输入您的邮箱" onFocus="if(this.value=='请输入您的邮箱'){this.value='';this.style.color='#515050'}" onBlur="if(this.value==''){this.value='请输入您的邮箱';this.style.color='#515050'}" x-webkit-grammar="bUIltin:search" x-webkit-speech="" maxlength="30" name="keyword" />
            </li>
            <li>
                <input type="text" class="ss1_in" value="请输入您的留言" onFocus="if(this.value=='请输入您的留言'){this.value='';this.style.color='#515050'}" onBlur="if(this.value==''){this.value='请输入您的留言';this.style.color='#515050'}" x-webkit-grammar="bUIltin:search" x-webkit-speech="" maxlength="30" name="keyword" />
            </li>
            <li>
                <input type="submit"  value="发送" class="submit1"/>
            </li>
        </ul>
    </div>
</div>
<div class=" wrap pt30 clearfix bot_nv mt40">
    <dl>
        <dt>走进打印</dt>
        <dd> <a href="#">关于打印</a><br>
            <a href="#">发展历史</a><br>
            <a href="#">团队成员</a><br>
            <a href="#">企业文化</a> </dd>
    </dl>
    <dl>
        <dt>新闻中心</dt>
        <dd> <a href="#">新闻聚集</a><br>
            <a href="#">在线报道</a><br>
            <a href="#">视频中心</a> </dd>
    </dl>
    <dl>
        <dt>集团产业</dt>
        <dd> <a href="#">新闻聚集</a><br>
            <a href="#">在线报道</a><br>
            <a href="#">视频中心</a> </dd>
    </dl>
    <dl>
        <dt>社会责任</dt>
        <dd> <a href="#">责任体系</a><br>
            <a href="#">社会公益</a> </dd>
    </dl>
    <dl>
        <dt>人力资源</dt>
        <dd> <a href="#">人才理念</a><br>
            <a href="#">人才发展</a><br>
            <a href="#">社会招聘</a><br>
            <a href="#">校园招聘</a><br>
            <a href="#">招聘声明</a> </dd>
    </dl>
    <ol>
        <img src="images/index2_r7_c6.jpg">
    </ol>
</div>
<div class="copy_bg"> Copyright @ 2014-2018 AB模板网 all Rights Reserved Www.AdminBuy.Cns | 客服电话：0555-55555555<br>
    豫ICP备11111111号 </div>
</body>
</html>
