{include file='public:head'/}

<div class="content">
		<div class="part1">
			<!-- banner -->
			<div id="slideBox" class="slideBox">
				<div class="hd">
						<ul>
                        <li>
							</li>
<li>
							</li>
<li>
							</li>
  
                            
						</ul>
				</div>
				<div class="bd">
					<ul>
            {volist name="banners" id="banner"}
<li><img src="{$banner.img}"/></li>   
            {/volist}
					</ul>
				</div>
				<a class="prev" href="javascript:void(0)"></a>
				<a class="next" href="javascript:void(0)"></a>
			</div>
			<!-- 搜索 -->
			<!--<div class="search">
				<div class="title">
					<h4>找方案</h4>
				</div>
					<div class="box">
              <form method="post" action="/plus/search.php" name="formsearch">
				<input type="text"   name="q" id="search" value="">
                <input type="hidden" value="titlekeyword" name="searchtype" >
				<input type="submit" value="">
                </form>
			</div>
			</div>
		</div>-->
		<div class="part2">
			<div class="menu" style="width: 1500px">
                            <div class="main" style="width: 1500px">
					<ul>
                                            {volist name="lists" id="list" key="k"}
                                            {if condition="($k gt 2) and ($k lt 7)"}
						<li>
                                                    {switch $k}
							{case 3}<a href="{:url('index/tjone')}"><img src="/static/index/images/menu01.png" alt="{$list.name}"><img src="/static/index/images/menu01.png" alt="{$list.name}">{/case}
                                                        {case 4}<a href="{:url('index/tjtwo')}"><img src="/static/index/images/menu02.png" alt="{$list.name}"><img src="/static/index/images/menu02.png" alt="{$list.name}">{/case}
                                                        {case 5}<a href="{:url('index/tjthree')}"><img src="/static/index/images/menu03.png" alt="{$list.name}"><img src="/static/index/images/menu03.png" alt="{$list.name}">{/case}
                                                        {case 6}<a href="{:url('index/tjfour')}"><img src="/static/index/images/menu01.png" alt="{$list.name}"><img src="/static/index/images/menu01.png" alt="{$list.name}">{/case}
                                                            {/switch}
								<div>
									<h5>{$list.name}</h5>
									<p>{$list.ename}</p>
								</div>
							</a>
						</li>
                                                {/if}
                                                {/volist}
						<li>
							<a href="{:url('index/dingzhi')}">
								<img src="/static/index/images/menu04.png" alt="专属定制">
								<img src="/static/index/images/menu04.png" alt="专属定制">
								<div>
									<h5>专属定制</h5>
									<p>EXCLUSIVE CUSTOM</p>
								</div>
							</a>
						</li>                                                
					</ul>
				</div>
			</div>
		</div>
			<!-- 产品 -->
		<div class="part3">
			<div class="product">
				<div class="title">
					<div class="bg">
						<div class="text">
							<h3>人气产品</h3>
							<p>
								我们拥有多种拓展训练服务
							</p>
						</div>
						<img src="/static/index/images/title02.png" alt="拓展训练">
					</div>
				</div>
				<div class="main">
					<div class="product-menu" id="pMenu">
						<ul>
                                                    {volist name="lists" id="list" key="k"}
                                                    {if condition="($k gt 2) and ($k lt 7)"}
                                                    {switch $k}
                                                        {case 3}<li class="on"><a href="{:url('index/tjone')}">{$list.name}</a></li>{/case}
                                                        {case 4}<li><a href="{:url('index/tjtwo')}">{$list.name}</a></li>{/case}
                                                        {case 5}<li><a href="{:url('index/tjthree')}">{$list.name}</a></li>{/case}
                                                        {case 6}<li><a href="{:url('index/tjfour')}">{$list.name}</a></li>{/case}
                                                        {/switch}
                                                    {/if}
                                                    {/volist}
    
						</ul>
					</div>
					<div class="product-list" id="pList">
						<ul>
                                                    {volist name="good1s" id="good" key="k"}
                                                        <li>
								<a href="{:url('index/tjdetail')}?id={$good.id}">
									<img src="{$good.img}" alt="{$good.name}">
									<div class="bg01">
										<div class="tit">
											<p>
												{$good.name}
											</p>
										</div>
										<div class="day">
											<p> {$good.cheshu}</p>
										</div>
										<div class="num">
											<p>
												 {$good.reshu}人
											</p>
										</div>
										<div class="price">
											<p>
												<span>{$good.price}</span>起
											</p>
										</div>
									</div> 
									<div class="bg02">
										<div class="tit">
											<p>
												{$good.name}
											</p>
										</div>
										<div class="tab">
											<p>
												{$good.cname}
											</p>
										</div>
										<div class="text">
											<span>产品经理说</span>
											<p>
												{$good.liangdian}
											</p>
										</div>
										<div class="info">
											<p>
												天数：<span>{$good.tianshu}</span>
											</p>
											<p>
												适合人数:<span> {$good.reshu}</span>
											</p>
											<br />
											<p>
												车程：<span> {$good.cheshu}</span>
											</p>
											<p>
												行程： {$good.bushu}
											</p>
										</div>
									</div>
								</a>
							</li>
                                                        {/volist}

						</ul>
						<ul>
                                                    {volist name="good2s" id="good" key="k"}
                        <li>
								<a href="{:url('index/tjdetail')}?id={$good.id}">
									<img src="{$good.img}" alt="{$good.name}">
									<div class="bg01">
										<div class="tit">
											<p>
												{$good.name}
											</p>
										</div>
										<div class="day">
											<p> {$good.cheshu}</p>
										</div>
										<div class="num">
											<p>
												 {$good.reshu}人
											</p>
										</div>
										<div class="price">
											<p>
												<span>{$good.price}</span>起
											</p>
										</div>
									</div> 
									<div class="bg02">
										<div class="tit">
											<p>
												{$good.name}
											</p>
										</div>
										<div class="tab">
											<p>
												{$good.cname}
											</p>
										</div>
										<div class="text">
											<span>产品经理说</span>
											<p>
												{$good.liangdian}
											</p>
										</div>
										<div class="info">
											<p>
												天数：<span>{$good.tianshu}</span>
											</p>
											<p>
												适合人数:<span> {$good.reshu}</span>
											</p>
											<br />
											<p>
												车程：<span> {$good.cheshu}</span>
											</p>
											<p>
												行程： {$good.bushu}
											</p>
										</div>
									</div>
								</a>
							</li>
                                                        {/volist}
						</ul>
						<ul>
                                                    {volist name="good3s" id="good" key="k"}
                      <li>
								<a href="{:url('index/tjdetail')}?id={$good.id}">
									<img src="{$good.img}" alt="{$good.name}">
									<div class="bg01">
										<div class="tit">
											<p>
												{$good.name}
											</p>
										</div>
										<div class="day">
											<p> {$good.cheshu}</p>
										</div>
										<div class="num">
											<p>
												 {$good.reshu}人
											</p>
										</div>
										<div class="price">
											<p>
												<span>{$good.price}</span>起
											</p>
										</div>
									</div> 
									<div class="bg02">
										<div class="tit">
											<p>
												{$good.name}
											</p>
										</div>
										<div class="tab">
											<p>
												{$good.cname}
											</p>
										</div>
										<div class="text">
											<span>产品经理说</span>
											<p>
												{$good.liangdian}
											</p>
										</div>
										<div class="info">
											<p>
												天数：<span>{$good.tianshu}</span>
											</p>
											<p>
												适合人数:<span> {$good.reshu}</span>
											</p>
											<br />
											<p>
												车程：<span> {$good.cheshu}</span>
											</p>
											<p>
												行程： {$good.bushu}
											</p>
										</div>
									</div>
								</a>
							</li>
                                                        {/volist}
                                                </ul>
                                            <ul>
                                                    {volist name="good4s" id="good" key="k"}
                      <li>
								<a href="{:url('index/tjdetail')}?id={$good.id}">
									<img src="{$good.img}" alt="{$good.name}">
									<div class="bg01">
										<div class="tit">
											<p>
												{$good.name}
											</p>
										</div>
										<div class="day">
											<p> {$good.cheshu}</p>
										</div>
										<div class="num">
											<p>
												 {$good.reshu}人
											</p>
										</div>
										<div class="price">
											<p>
												<span>{$good.price}</span>起
											</p>
										</div>
									</div> 
									<div class="bg02">
										<div class="tit">
											<p>
												{$good.name}
											</p>
										</div>
										<div class="tab">
											<p>
												{$good.cname}
											</p>
										</div>
										<div class="text">
											<span>产品经理说</span>
											<p>
												{$good.liangdian}
											</p>
										</div>
										<div class="info">
											<p>
												天数：<span>{$good.tianshu}</span>
											</p>
											<p>
												适合人数:<span> {$good.reshu}</span>
											</p>
											<br />
											<p>
												车程：<span> {$good.cheshu}</span>
											</p>
											<p>
												行程： {$good.bushu}
											</p>
										</div>
									</div>
								</a>
							</li>
                                                        {/volist}
                                                </ul> 
					</div>
					<!-- 产品详情 -->
					<div class="category">
						<div class="title">
							<div>
								<h3>了解我们的产品详情</h3>
								<p>
									我们一直以客户为中心，竭诚为您服务！
								</p>
							</div>
						</div>
						<div class="item">
                                                    {volist name="lists" id="list"}
                                                    {if condition="$list.id eq 3"}
							<div class="tit">
								<h4>{$list.name}</h4>
								<div class="class" id="item1">
									<ul>
                                                                            {volist name="category1s" id="category"}
                                                                                <li>
											<a href="{:url('index/tjsearch')}?lid={$list.id}&cid={$category.id}">{$category.name}</a>
										</li>
                                                                                {/volist}
									</ul>
									<div class="bg"></div>
								</div>
							</div>
                                                    {/if}
                                                    {/volist}
							<div class="theMain" id="main1">
                                                            {volist name="category1s" id="category" key="k"}
                                                            {if condition="$k eq 1"}
								<div class="box" id="focus">
                                                                    {else /}
                                                                    <div class="box">
                                                                        {/if}
                                                                    
									<ul>  
                                                                            {volist name="good1s" id="good"}
                                                                            {if condition="$good.cid eq $category.id"}
                                                                                <li>
											<a href="{:url('index/tjdetail')}?id={$good.id}">
												<img src="{$good.img}" alt="{$good.name}">
												<div>
													<h5>{$good.name}</h5>
													<p>
														适合人数：{$good.reshu}人
													</p>
													<p>
														￥{$good.price}起/人
													</p>
												</div>
											</a>
										</li>
                                                                                {/if}
                                                                                {/volist}
									</ul>
								</div>
                                                            
                                                            {/volist}
							</div>
						</div>
						<div class="item item2">
                                                    {volist name="lists" id="list"}
                                                    {if condition="$list.id eq 4"}
							<div class="tit">
                                                            
								<h4>{$list.name}</h4>
								<div class="class" id="item2">
									<ul>
                                                                            {volist name="category2s" id="category"}
                                                                                <li>
											<a href="{:url('index/tjsearch')}?lid={$list.id}&cid={$category.id}">{$category.name}</a>
										</li>
                                                                                {/volist}
                                       
									</ul>
									<div class="bg"></div>
								</div>
							</div>
                                                    {/if}
                                                    {/volist}
							<div class="thtMain" id="main2">
                                                             {volist name="category2s" id="category" key="k"}
                                                            {if condition="$k eq 1"}
								<div class="box" id="focus">
                                                                    {else /}
                                                                    <div class="box">
                                                                        {/if}
									<ul>
                                                                            {volist name="good2s" id="good"}
                                                                            {if condition="$good.cid eq $category.id"}
                                                                                <li>
											<a href="{:url('index/tjdetail')}?id={$good.id}">
												<img src="{$good.img}" alt="{$good.name}">
												<div>
													<h5>{$good.name}</h5>
													<p>
														适合人数：{$good.reshu}人
													</p>
													<p>
														￥{$good.price}起/人
													</p>
												</div>
											</a>
										</li>
                                                                                {/if}
                                                                                {/volist}
                                        
									</ul>
								</div>
                                                                                {/volist}
				
							</div>
						</div>
						<div class="item item3">
                                                    {volist name="lists" id="list"}
                                                    {if condition="$list.id eq 5"}
							<div class="tit">
								
								<h4>{$list.name}</h4>
								<div class="class" id="item3">
									<ul>
									 {volist name="category3s" id="category"}
                                                                                <li>
											<a href="{:url('index/tjsearch')}?lid={$list.id}&cid={$category.id}">{$category.name}</a>
										</li>
                                                                                {/volist}
                                    
									</ul>
									<div class="bg"></div>
								</div>
							</div>
                                                    {/if}
                                                    {/volist}
							<div class="thtMain" id="main3">
								{volist name="category3s" id="category" key="k"}
                                                            {if condition="$k eq 1"}
								<div class="box" id="focus">
                                                                    {else /}
                                                                    <div class="box">
                                                                        {/if}
									<ul>
                                                                            {volist name="good3s" id="good"}
                                                                            {if condition="$good.cid eq $category.id"}
                                                                                <li>
											<a href="{:url('index/tjdetail')}?id={$good.id}">
												<img src="{$good.img}" alt="{$good.name}">
												<div>
													<h5>{$good.name}</h5>
													<p>
														适合人数：{$good.reshu}人
													</p>
													<p>
														￥{$good.price}起/人
													</p>
												</div>
											</a>
										</li>
                                                                                {/if}
                                                                                {/volist}
                                        
									</ul>
								</div>
                                                                                {/volist}
							</div>
						</div>
                                            <div class="item item4">
                                                    {volist name="lists" id="list"}
                                                    {if condition="$list.id eq 6"}
							<div class="tit">
								
								<h4>{$list.name}</h4>
								<div class="class" id="item4">
									<ul>
									 {volist name="category4s" id="category"}
                                                                                <li>
											<a href="{:url('index/tjsearch')}?lid={$list.id}&cid={$category.id}">{$category.name}</a>
										</li>
                                                                                {/volist}
                                    
									</ul>
									<div class="bg"></div>
								</div>
							</div>
                                                    {/if}
                                                    {/volist}
							<div class="thtMain" id="main4">
								{volist name="category4s" id="category" key="k"}
                                                            {if condition="$k eq 1"}
								<div class="box" id="focus">
                                                                    {else /}
                                                                    <div class="box">
                                                                        {/if}
									<ul>
                                                                            {volist name="good4s" id="good"}
                                                                            {if condition="$good.cid eq $category.id"}
                                                                                <li>
											<a href="{:url('index/tjdetail')}?id={$good.id}">
												<img src="{$good.img}" alt="{$good.name}">
												<div>
													<h5>{$good.name}</h5>
													<p>
														适合人数：{$good.reshu}人
													</p>
													<p>
														￥{$good.price}起/人
													</p>
												</div>
											</a>
										</li>
                                                                                {/if}
                                                                                {/volist}
                                        
									</ul>
								</div>
                                                                                {/volist}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 团队 -->
		<div class="part4">
			<div class="team">
				<div class="main">
					<div class="title">
						<div class="bg">
							<div class="text">
								<h3>服务团队</h3>
								<p>
									高学历、经验丰富的培训师帮助您塑造专业的团队！
								</p>
							</div>
							<img src="/static/index/images/icon07.png" alt="上海团队公司">
						</div>
					</div>
					<div class="picScroll">
						<div class="hd">
							<a class="next"></a>
							<a class="prev"></a>
						</div>
						<div class="bd">
							<ul class="picList">
                                                            {volist name="tuanduis" id="tuandui"}
                                                                <li>
								 	<a href="{:url('index/teamdetail')}?id={$tuandui.id}">
								 		<div class="pic">
								 			<div class="border">
								 				<img src="{$tuandui.img}" alt="{$tuandui.name}">
								 			</div>
								 		</div>
								 		<div class="text">
								 			<h5>{$tuandui.name}</h5>
								 			<p>{$tuandui.zhiwei}</p>
								 		</div>
								 		<img class="more" src="/static/index/images/icon08.png" alt="Jason.zhang">
								 		<div class="block">
								 			<p>个人简介 {:htmlspecialchars_decode($tuandui.jianjie)}</p>
								 		</div>
								 	</a>
								 </li>	
                                                                 {/volist}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="part5">
			<div class="customer">
				<div class="main">
					<div class="title">
						<div class="bg">
							<div class="text">
								<h3>服务过的客户</h3>
								<p>
									每一次的相遇，我们都刻骨铭心，我们期待和您继续相遇！
								</p>
							</div>
							<img src="/static/index/images/icon07.png" alt="上海拓展案例">
						</div>
					</div>
					<div class="more">
						<a href="{:url('index/anli')}"><img src="/static/index/images/icon09.png" alt="[field:title/]"></a>
					</div>
					<div class="section">
                                            {volist name="anlis" id="anli" key="k"}
                                            {if condition="$k eq 2"}
                                             <div class="box">
							<a href="{:url('index/anlidetail')}?id={$anli.id}">
								<div class="text">
									<h5>
										{$anli.title}
									</h5>
									<div class="div">
										<p>
										   {$anli.jianjie}
										</p>
									</div>
								</div>
								<div class="pic">
									<img src="{$anli.yulanimg}" alt="{$anli.title}" width="400" height="180">
									<div class="hover"></div>
								</div>
							</a>
						</div>
                                            {else /}
                     <div class="box">
							<a href="{:url('index/anlidetail')}?id={$anli.id}">
								<div class="pic">
									<img src="{$anli.yulanimg}" alt="{$anli.title}" width="400" height="180" />
									<div class="hover"></div>
								</div>
								<div class="text">
									<h5>
										{$anli.title}
									</h5>
									<div class="div">
										<p>
											{$anli.jianjie}
										</p>
									</div>
								</div>
							</a>
						</div>
 
                        
                                            {/if}
                                            {/volist}
					</div>
				</div>
                           
			</div>
		</div>
		{include file='public:partner'/} 
	</div>
	<div class="map">
<!--<img src="/static/index/images/map.jpg" alt="北极星拓展地址">-->
	</div>
{include file='public:foot'/}    
