<div class="footer">
		<div class="main">
			<div class="left">
				<h5>星团建 Northstar team building</h5>
                                <h5>国内一家与体育大学合作的体验式培训机构！</h5>
<h5>上海勇盛体育管理有限公司</h5>
				<div class="text">
					<p>
						电话：（86）021-61521551
						<br />
						邮箱：service@021stars.com
						<br />
						联系地址：上海国家体育大学科技园1幢110—69室（杨浦区恒仁路350号）
						<br />
						邮编：200438<br /> <a rel="nofollow" target='_blank' href="http://www.yshsports.com/news/89.html">免责申明</a>|<a rel="nofollow" target='_blank' href="http://www.yshsports.com/news/91.html">法律申明</a>
					</p>
				</div>
			</div>
			<div class="right">
				<div class="ewm">
					<p>
						扫描右侧二维码
						<br >
						+ 关注微信公众平台
						<br >
						实时关注北极星动态
					</p>
					<img src="/static/index/images/ewm.png" alt="北极星二维码">
				</div>
			</div>
		</div>
		<div class="copyright">
			<p>
				Copyright © 2012-2019, 上海勇盛体育管理有限公司,All rights reserved   <a target='_blank' rel="nofollow" href="http://www.miitbeian.gov.cn/">沪ICP备13003517号-1</a><br />友情链接： QQ:920515605 
<a href="http://www.021stars.com/" target="_blank">上海拓展</a>
<a href="http://www.qhfc.gov.cn" target="_blank">青海省福彩网</a>
<a href="http://www.021starspr.com/" target="_blank">上海活动策划</a>
<a href="http://www.evenger.com.cn/" target="_blank">会议策划公司</a>
<a href="http://www.tz020.cn/" target="_blank">户外拓展</a>
<a href="http://www.zhishangtuozhan.cn/" target="_blank">深圳拓展培训</a>
<a href="http://www.shijian-zhe.com/" target="_blank">广州拓展培训</a>
<a href="http://www.hyhwsh.com/" target="_blank">上海会务</a>
<a href="http://www.my-summit.com/" target="_blank">成都拓展公司</a>
<a href="http://www.tuozhan001.com/" target="_blank">拓展训练</a>
<a href="http://www.021bczc.com/" target="_blank">上海大巴租赁</a>
<a href="http://www.bjtuanjian.cn/" target="_blank">北京团建公司</a>
<a href="http://www.xdjunxun.com/" target="_blank">上海拓展训练公司</a>
<a href="http://www.tuandongli.com/" target="_blank">拓展公司</a>
<a href="http://www.021ctrip.com/" target="_blank">上海大巴租赁</a>
<a href="http://www.160tz.com/" target="_blank">团队拓展训练</a>
<a href="http://www.httzpx.com/" target="_blank">武汉拓展公司</a>
<a href="http://www.waypoo.com/" target="_blank">合肥拓展训练</a>
			</p>
		</div>
	</div>
	<script>
		jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true,easing:"easeOutCirc",delayTime:1000});
		jQuery(".picScroll").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:5,easing:"easeInBack",delayTime:700})

	 	var op = document.getElementById('op').getElementsByClassName('op');
	 	var oBox = document.getElementById('op');
	 	var more = document.getElementById('more');
	 	var text = document.getElementById('text');


	 	   for(var i = 0; i<op.length;i++){
	 	   	  op[i].style.transform="rotateY(0deg)";
	 	   	  op[i].style.opacity="1";
	 	   	  op[i].style.transition="1s";
	 	   
	 	   	  function oM(){
	 	   	  	   more.style.boxShadow="-1px 2px 4px rgb(16,65,129)";
	 	   	  	   more.style.opacity="1"
	 	   	  }
	 	   	  function oT(){
	 	   	  	  text.style.lineHeight="21px";
	 	   	  	  text.style.opacity="1";
	 	   	  }
	 	  	 
	 	   	  setTimeout("oM()",200);
	 	   	  setTimeout("oT()",400);
	 	   }
	 	 
		function tab(id,objt1){

			var oBox = document.getElementById(objt1).getElementsByClassName('box');
			var oItem = document.getElementById(id).getElementsByTagName('li');
			var bg = document.getElementById(id).getElementsByClassName('bg')[0];


			 for(var i= 0; i<oItem.length;i++){

			 	  oItem[i].index=i;
			 	  oItem[i].onmouseover=function(){

                      for(var j= 0; j<oItem.length;j++){

                      	   oItem[j].className=""
                      	   oBox[j].id=" ";
                      }


			 	  	  var n = oItem[this.index].offsetWidth;
			 	  	  bg.style.left = this.index * n + 'px';
			 	  	  this.className = 'on';
 					 oBox[this.index].id="focus";

			 	  	   
			 	  }
			 }
		}
	 
		   tab("item1","main1")
		   tab("item2","main2")
		   tab("item3","main3")
                   tab("item4","main4")


		 var pUl = document.getElementById('pList').getElementsByTagName('ul');
		 var pLi = document.getElementById('pMenu').getElementsByTagName('li');

		  for(var i = 0 ; i<pLi.length;i++){

		  	  pLi[i].index=i;
		  	  pLi[i].onmouseover = function (){

		  	  	  for(var j = 0 ; j<pLi.length;j++){

		  	  	  	  pUl[j].style.opacity = '0';
		  	  	  	  pLi[j].className= ' ';
		  	  	  	  pUl[j].style.zIndex="1";
		  	  	  }
		  	  	  this.className= 'on';
		  	  	  var n = this.index;
		  	  	  pUl[n].style.opacity = '1';
		  	  	  pUl[n].style.zIndex="100";

		  	  }
		  }


		  var mssg = document.getElementById('mssg');
		  var mssgBtn = document.getElementById('mssgBtn');
		  var mssgInfo = document.getElementById('mssgInfo');

		     var w = document.documentElement.offsetWidth || document.body.offsetWidth;
		    
		   mssgBtn.onclick = function(){
		  
		  
		           if( (mssg.offsetLeft+mssgBtn.offsetWidth)==w){
		           		mssg.style.right="0px";
		           }else{

		           		mssg.style.right= -mssgInfo.offsetWidth +'px';
		           }	
		   }
	</script>
    

  
<script type="text/javascript"> 
// 设置为主页 
function SetHome(obj,vrl){ 
try{ 
obj.style.behavior='url(#default#homepage)';obj.setHomePage(vrl); 
} 
catch(e){ 
if(window.netscape) { 
try { 
netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect"); 
} 
catch (e) { 
alert("此操作被浏览器拒绝！\n请在浏览器地址栏输入'about:config'并回车\n然后将 [signed.applets.codebase_principal_support]的值设置为'true',双击即可。"); 
} 
var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch); 
prefs.setCharPref('browser.startup.homepage',vrl); 
}else{ 
alert("您的浏览器不支持，请按照下面步骤操作：1.打开浏览器设置。2.点击设置网页。3.输入："+vrl+"点击确定。"); 
} 
} 
} 
// 加入收藏 兼容360和IE6 
function shoucang(sTitle,sURL) 
{ 
try 
{ 
window.external.addFavorite(sURL, sTitle); 
} 
catch (e) 
{ 
try 
{ 
window.sidebar.addPanel(sTitle, sURL, ""); 
} 
catch (e) 
{ 
alert("加入收藏失败，请使用Ctrl+D进行添加"); 
} 
} 
} 
</script> 
<script type="text/javascript">
                          window.onload = function(){
                          var nowDate = new Date();
                          var str = nowDate.getFullYear()+"-"+(nowDate.getMonth() + 1)+"-"+nowDate.getDate()+" "+nowDate.getHours()+":"+nowDate.getMinutes()+":"+nowDate.getSeconds();
                          document.getElementById("mytime").value=str;
                          }
      </script>

    <script language="JavaScript" type="text/javascript">
function saveIt()
{
  with(gbook)
  {
if (tel.value=="")
    { 
      alert('请填写手机号！'); 
      tel.focus();
      return false; 
    }
var myreg = /^((1[0-9][0-9]{1})+\d{8})$/; 
if(!myreg.test($("#tel").val())) 
    { 
      alert('请填写正确的手机号码！'); 
      tel.focus();
      return false; 
    }

  }
}
</script> 
<script>
var _hmt = _hmt || []; (function() { var hm =  =  = document.createElementmentment("script"); ); ); hm.src = " = " = "= "= "https://hm.baidu.com/hm.js?10dca3165ec44c71af1a1a62a630b254"; v"; v"; var s =  =  = document.getElementsBytsBytsByTagName("script")[0]; ]; ]; s.parentNode.insertBefore(ore(ore(hm, s); })(); </script> 
{:sysconf('addhtml')}
        </body>
</html>