
<div class="m-footer">
    <div class="foot2">
		<div class="g-wraper">
			<div class="logo"><img src="{:sysconf('logo')}" alt=""></div>
			<div class="link">
				<dl>
					<dt>关于我们</dt>
                                        {volist name="gywms" id="gywm"}
					<dd><a href="{$gywm.url}" target="_blank" rel="nofollow">{$gywm.title}</a></dd>
                                        {/volist}
				</dl>
				<dl>
					<dt>帮助中心</dt>
                                        {volist name="helps" id="help"}
					<dd><a href="{$help.url}" target="_blank" rel="nofollow">{$help.title}</a></dd>
                                        {/volist}
				</dl>
			
				<dl class="news">
					<dt>寻奇者教你玩</dt>
                                        {volist name="articles" id="article"}
					<dd><a href="{:url('index/newsdetail')}?id={$article.id}" target="_blank">{$article.title}</a></dd>  
                                        {/volist}
					<dd class="more"><a href="{:url('index/news')}" target="_blank">更多</a></dd>
				</dl>
			</div>
			<ul class="u-lianxi">
				<li class="u-item1">
					<i class="iconfont icon-dianhua3"></i>
					<div>
						<h6>{:sysconf('mobile')}</h6>
						<p>周一到周日：9:00-21:00</p>
					</div>
				</li>
				<li class="u-item2">
					<i class="iconfont icon-icon-"></i>
					<div>
						<img src="{:sysconf('wxlogo')}" alt="">
<!--						<p>
							<span>官方微信：</span>
							<br>寻奇者预定服务
							
						</p>-->
					</div>
				</li>
<!--				<li class="u-item3">
					<i class="iconfont icon-youjian"></i>
					<div>官方邮箱：</div>
				</li>-->
			</ul>
		</div>
	</div>
    </div>
	<script>
		jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true,easing:"easeOutCirc",delayTime:1000});
		jQuery(".picScroll").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:5,easing:"easeInBack",delayTime:700})

	 	var op = document.getElementById('op').getElementsByClassName('op');
	 	var oBox = document.getElementById('op');
	 	var more = document.getElementById('more');
	 	var text = document.getElementById('text');


	 	   for(var i = 0; i<op.length;i++){
	 	   	  op[i].style.transform="rotateY(0deg)";
	 	   	  op[i].style.opacity="1";
	 	   	  op[i].style.transition="1s";
	 	   
	 	   	  function oM(){
	 	   	  	   more.style.boxShadow="-1px 2px 4px rgb(16,65,129)";
	 	   	  	   more.style.opacity="1"
	 	   	  }
	 	   	  function oT(){
	 	   	  	  text.style.lineHeight="21px";
	 	   	  	  text.style.opacity="1";
	 	   	  }
	 	  	 
	 	   	  setTimeout("oM()",200);
	 	   	  setTimeout("oT()",400);
	 	   }
	 	 
		function tab(id,objt1){

			var oBox = document.getElementById(objt1).getElementsByClassName('box');
			var oItem = document.getElementById(id).getElementsByTagName('li');
			var bg = document.getElementById(id).getElementsByClassName('bg')[0];


			 for(var i= 0; i<oItem.length;i++){

			 	  oItem[i].index=i;
			 	  oItem[i].onmouseover=function(){

                      for(var j= 0; j<oItem.length;j++){

                      	   oItem[j].className=""
                      	   oBox[j].id=" ";
                      }


			 	  	  var n = oItem[this.index].offsetWidth;
			 	  	  bg.style.left = this.index * n + 'px';
			 	  	  this.className = 'on';
 					 oBox[this.index].id="focus";

			 	  	   
			 	  }
			 }
		}
	 
		   tab("item1","main1")
		   tab("item2","main2")
		   tab("item3","main3")
                   tab("item4","main4")


		 var pUl = document.getElementById('pList').getElementsByTagName('ul');
		 var pLi = document.getElementById('pMenu').getElementsByTagName('li');

		  for(var i = 0 ; i<pLi.length;i++){

		  	  pLi[i].index=i;
		  	  pLi[i].onmouseover = function (){

		  	  	  for(var j = 0 ; j<pLi.length;j++){

		  	  	  	  pUl[j].style.opacity = '0';
		  	  	  	  pLi[j].className= ' ';
		  	  	  	  pUl[j].style.zIndex="1";
		  	  	  }
		  	  	  this.className= 'on';
		  	  	  var n = this.index;
		  	  	  pUl[n].style.opacity = '1';
		  	  	  pUl[n].style.zIndex="100";

		  	  }
		  }


		  var mssg = document.getElementById('mssg');
		  var mssgBtn = document.getElementById('mssgBtn');
		  var mssgInfo = document.getElementById('mssgInfo');

		     var w = document.documentElement.offsetWidth || document.body.offsetWidth;
		    
		   mssgBtn.onclick = function(){
		  
		  
		           if( (mssg.offsetLeft+mssgBtn.offsetWidth)==w){
		           		mssg.style.right="0px";
		           }else{

		           		mssg.style.right= -mssgInfo.offsetWidth +'px';
		           }	
		   }
	</script>
    

  
<script type="text/javascript"> 
// 设置为主页 
function SetHome(obj,vrl){ 
try{ 
obj.style.behavior='url(#default#homepage)';obj.setHomePage(vrl); 
} 
catch(e){ 
if(window.netscape) { 
try { 
netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect"); 
} 
catch (e) { 
alert("此操作被浏览器拒绝！\n请在浏览器地址栏输入'about:config'并回车\n然后将 [signed.applets.codebase_principal_support]的值设置为'true',双击即可。"); 
} 
var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch); 
prefs.setCharPref('browser.startup.homepage',vrl); 
}else{ 
alert("您的浏览器不支持，请按照下面步骤操作：1.打开浏览器设置。2.点击设置网页。3.输入："+vrl+"点击确定。"); 
} 
} 
} 
// 加入收藏 兼容360和IE6 
function shoucang(sTitle,sURL) 
{ 
try 
{ 
window.external.addFavorite(sURL, sTitle); 
} 
catch (e) 
{ 
try 
{ 
window.sidebar.addPanel(sTitle, sURL, ""); 
} 
catch (e) 
{ 
alert("加入收藏失败，请使用Ctrl+D进行添加"); 
} 
} 
} 
</script> 
<script type="text/javascript">
                          window.onload = function(){
                          var nowDate = new Date();
                          var str = nowDate.getFullYear()+"-"+(nowDate.getMonth() + 1)+"-"+nowDate.getDate()+" "+nowDate.getHours()+":"+nowDate.getMinutes()+":"+nowDate.getSeconds();
                          document.getElementById("mytime").value=str;
                          }
      </script>

    <script language="JavaScript" type="text/javascript">
function saveIt()
{
  with(gbook)
  {
if (tel.value=="")
    { 
      alert('请填写手机号！'); 
      tel.focus();
      return false; 
    }
var myreg = /^((1[0-9][0-9]{1})+\d{8})$/; 
if(!myreg.test($("#tel").val())) 
    { 
      alert('请填写正确的手机号码！'); 
      tel.focus();
      return false; 
    }

  }
}
</script> 
<script>
var _hmt = _hmt || []; (function() { var hm =  =  = document.createElementmentment("script"); ); ); hm.src = " = " = "= "= "https://hm.baidu.com/hm.js?10dca3165ec44c71af1a1a62a630b254"; v"; v"; var s =  =  = document.getElementsBytsBytsByTagName("script")[0]; ]; ]; s.parentNode.insertBefore(ore(ore(hm, s); })(); </script> 
{:sysconf('addhtml')}
        </body>
</html>